/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* .link {
  width: 200px;
  display: flex;
  justify-content: space-around;
} */

/* Link {
  text-decoration: none;
} */

.red {
  color: red;
}

.active {
  background-color: green;
  color: white;
  width: 25%;
  height: 50px;
  cursor: pointer;
  font-size: 1.5em;
}
.non-active {
  background-color: grey;
  color: white;
  width: 35%;
  height: 50px;
  cursor: not-allowed;
  font-size: 1.5em;
}

/* form */
#mainForm {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#formHeading {
  text-align: center;
}
#formContainer {
  text-align: center;
  margin: auto;
  /* border: 1px solid red; */
  width: 50%;
}
#formContainer input {
  width: 90%;
  height: 35px;
}

#submit {
  margin-top: 3%;
}

/* fetch product css */

#mainProductsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  /* border: 1px solid red; */
  gap: 25px 0;
  margin-top: 10px;
}

#singleproduct {
  width: 18%;
  border: 1px solid grey;
  box-shadow: 2px 2px 15px black;
  height: 520px;
  cursor: pointer;
}
#singleproduct > img {
  width: 100%;
  height: 50%;
}

#prodId {
  text-align: center;
  background-color: rgb(193, 193, 193);
}

#prodTitle {
  padding-left: 10px;
  font-size: 1em;
  font-weight: bolder;
}

#prodPrice {
  padding-left: 10px;
  color: red;
  font-weight: bolder;
}

#prodCategory {
  font-weight: bolder;
  padding-left: 10px;
  color: blue;
}

#loading {
  width: 40px;
  height: 40px;
  border: 10px solid black;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

.inner {
  width: 20px;
  height: 20px;
  border: 5px solid #fff;
  border-radius: 50%;
  position: relative;
  top: -10px;
  left: -10px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Single Product css */
#singleProdContainer {
  /* border: 1px solid red; */
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

#singleImgContainer {
  /* border: 1px solid red; */
  width: 35%;
  height: 500px;
}
#singleImgContainer > img {
  width: 90%;
  height: 100%;
}

#singleProdDetails {
  width: 35%;
}
